@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootsy';

.wysihtml5-sandbox {
  height: 100%;
}

body {
  padding-top: 60px;
}

.user-info {
  margin-top: -34px;
  margin-right: 50px;
}

footer {
  position: absolute;
  bottom: 0px;
}