.jumbotron
  %h1 Welcome to RailsWiki
  %p Create and share your own wikis!
  %p
    - if current_user
      #{button_to 'Go to my Wikis', articles_path, method: :get, class: 'btn btn-primary btn-lg'}
    - else
      #{button_to 'Sign Up', new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg'}